<h1>Listing condominios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th>Cnpj</th>
      <th>Numero contrato atual</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condominios.each do |condominio| %>
      <tr>
        <td><%= condominio.nome %></td>
        <td><%= condominio.lat %></td>
        <td><%= condominio.long %></td>
        <td><%= condominio.endereco %></td>
        <td><%= condominio.bairro %></td>
        <td><%= condominio.cidade %></td>
        <td><%= condominio.estado %></td>
        <td><%= condominio.cep %></td>
        <td><%= condominio.cnpj %></td>
        <td><%= condominio.numero_contrato_atual %></td>
        <td><%= condominio.website %></td>
        <td><%= link_to 'Show', condominio %></td>
        <td><%= link_to 'Edit', edit_condominio_path(condominio) %></td>
        <td><%= link_to 'Destroy', condominio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condominio', new_condominio_path %>
