<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @condominio.nome %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @condominio.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @condominio.long %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @condominio.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @condominio.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @condominio.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @condominio.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @condominio.cep %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @condominio.cnpj %>
</p>

<p>
  <strong>Numero contrato atual:</strong>
  <%= @condominio.numero_contrato_atual %>
</p>

<p>
  <strong>Website:</strong>
  <%= @condominio.website %>
</p>


<!--
  Este é um código inserido para associar todos os dispositivos ao seu condominio
  inclue divisao e um form para capturar novo dispositivo.
-->

<h2>Dispositivos</h2>
<div id="Dispositivos">
    <% @condominio.dispositivos.each do |dispositivo| %>
        <%= div_for dispositivo do %>
        <p>
           
            <%= h(dispositivo.nome) %>
        </p>
    <% end %>
<% end %>
</div>

<%= form_for([@condominio, Dispositivo.new]) do |f| %>
   <p><%= f.label :nome, "New Dispositivo" %><br />
      <%= f.text_area :nome %>
   </p>
   <p><%= f.submit "Add Dispositivo" %></p>
<% end %>


<!--
  fim do código inserido.
-->


<%= link_to 'Edit', edit_condominio_path(@condominio) %> |
<%= link_to 'Back', condominios_path %>
