<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dispositivo_id %><br>
    <%= f.number_field :dispositivo_id %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :tipo_evento %><br>
    <%= f.text_field :tipo_evento %>
  </div>
  <div class="field">
    <%= f.label :valor_registrado %><br>
    <%= f.number_field :valor_registrado %>
  </div>
  <div class="field">
    <%= f.label :mensagem_evento %><br>
    <%= f.text_field :mensagem_evento %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.text_field :hora %>
  </div>
  <div class="field">
    <%= f.label :ip_address_registrado %><br>
    <%= f.text_field :ip_address_registrado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
