<h1>Listing eventos</h1>

<table>
  <thead>
    <tr>
      <th>Dispositivo</th>
      <th>Part number</th>
      <th>Tipo evento</th>
      <th>Valor registrado</th>
      <th>Mensagem evento</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Ip address registrado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.dispositivo_id %></td>
        <td><%= evento.part_number %></td>
        <td><%= evento.tipo_evento %></td>
        <td><%= evento.valor_registrado %></td>
        <td><%= evento.mensagem_evento %></td>
        <td><%= evento.data %></td>
        <td><%= evento.hora %></td>
        <td><%= evento.ip_address_registrado %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
