<p id="notice"><%= notice %></p>

<p>
  <strong>Dispositivo:</strong>
  <%= @evento.dispositivo_id %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @evento.part_number %>
</p>

<p>
  <strong>Tipo evento:</strong>
  <%= @evento.tipo_evento %>
</p>

<p>
  <strong>Valor registrado:</strong>
  <%= @evento.valor_registrado %>
</p>

<p>
  <strong>Mensagem evento:</strong>
  <%= @evento.mensagem_evento %>
</p>

<p>
  <strong>Data:</strong>
  <%= @evento.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @evento.hora %>
</p>

<p>
  <strong>Ip address registrado:</strong>
  <%= @evento.ip_address_registrado %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
