<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="utf-8">
    
    <!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Automation</title>
    <title>Smartweb</title>
    <title>Administração</title>
    
    <meta name='viewport' content='width=1200'>


    <!-- Bootstrap Core CSS -->
    <link href="http://smartautomation.com.br/css/bootstrap.css" rel="stylesheet">
	
    <!-- Custom CSS -->
    <link href="http://smartautomation.com.br/css/custom.css" rel="stylesheet">

	<link href="http://smartautomation.com.br/css/animacao1.css" rel="stylesheet">
    
	<link href="http://smartautomation.com.br/css/modern-business.css" rel="stylesheet">

  <!-- parte do Rails anterior a introducao do CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

<div id="classe" style="display:none;"></div>
<div id="classe_li" style="display:none;"></div>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
            	<a href="http://smartautomation.com.br/home">
            	<img src="http://smartautomation.com.br/images/logo.png" class="img-responsive" style="padding:20px 20px;">                
                </a>
		    </div>
        </div>
    <!-- Aparentemente falta div, mas ao colocar desformata a apresentacao -->

<!-- parte do Rails que coloca codigo -->
<%= yield %>

</body>
</html>
