<%= form_for(@dispositivo) do |f| %>
  <% if @dispositivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dispositivo.errors.count, "error") %> prohibited this dispositivo from being saved:</h2>

      <ul>
      <% @dispositivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :condominio_id %><br>
    <%= f.number_field :condominio_id %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :fabricante %><br>
    <%= f.text_field :fabricante %>
  </div>
  <div class="field">
    <%= f.label :zonas %><br>
    <%= f.text_field :zonas %>
  </div>
  <div class="field">
    <%= f.label :tipo_dispositivo %><br>
    <%= f.text_field :tipo_dispositivo %>
  </div>
  <div class="field">
    <%= f.label :trigger_alarme %><br>
    <%= f.number_field :trigger_alarme %>
  </div>
  <div class="field">
    <%= f.label :valor_limite_superior %><br>
    <%= f.number_field :valor_limite_superior %>
  </div>
  <div class="field">
    <%= f.label :valor_limite_inferior %><br>
    <%= f.number_field :valor_limite_inferior %>
  </div>
  <div class="field">
    <%= f.label :ip_address_dispositivo %><br>
    <%= f.text_field :ip_address_dispositivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
