<h1>Listing dispositivos</h1>

<table>
  <thead>
    <tr>
      <th>Condominio</th>
      <th>Part number</th>
      <th>Nome</th>
      <th>Fabricante</th>
      <th>Zonas</th>
      <th>Tipo dispositivo</th>
      <th>Trigger alarme</th>
      <th>Valor limite superior</th>
      <th>Valor limite inferior</th>
      <th>Ip address dispositivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispositivos.each do |dispositivo| %>
      <tr>
        <td><%= dispositivo.condominio_id %></td>
        <td><%= dispositivo.part_number %></td>
        <td><%= dispositivo.nome %></td>
        <td><%= dispositivo.fabricante %></td>
        <td><%= dispositivo.zonas %></td>
        <td><%= dispositivo.tipo_dispositivo %></td>
        <td><%= dispositivo.trigger_alarme %></td>
        <td><%= dispositivo.valor_limite_superior %></td>
        <td><%= dispositivo.valor_limite_inferior %></td>
        <td><%= dispositivo.ip_address_dispositivo %></td>
        <td><%= link_to 'Show', dispositivo %></td>
        <td><%= link_to 'Edit', edit_dispositivo_path(dispositivo) %></td>
        <td><%= link_to 'Destroy', dispositivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispositivo', new_dispositivo_path %>
