<p id="notice"><%= notice %></p>

<p>
  <strong>Condominio:</strong>
  <%= @dispositivo.condominio_id %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @dispositivo.part_number %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dispositivo.nome %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @dispositivo.fabricante %>
</p>

<p>
  <strong>Zonas:</strong>
  <%= @dispositivo.zonas %>
</p>

<p>
  <strong>Tipo dispositivo:</strong>
  <%= @dispositivo.tipo_dispositivo %>
</p>

<p>
  <strong>Trigger alarme:</strong>
  <%= @dispositivo.trigger_alarme %>
</p>

<p>
  <strong>Valor limite superior:</strong>
  <%= @dispositivo.valor_limite_superior %>
</p>

<p>
  <strong>Valor limite inferior:</strong>
  <%= @dispositivo.valor_limite_inferior %>
</p>

<p>
  <strong>Ip address dispositivo:</strong>
  <%= @dispositivo.ip_address_dispositivo %>
</p>


<!--
  Este é um código inserido para associar todos os dispositivos ao seu condominio
  inclue divisao e um form para capturar novo dispositivo.
-->

<h2>Eventos</h2>
<div id="Eventos">
    <% @dispositivo.eventos.each do |evento| %>
        <%= div_for evento do %>
        <p>
           
            <%= h(evento.mensagem_evento) %>
        </p>
    <% end %>
<% end %>
</div>

<%= form_for([@dispositivo, Evento.new]) do |f| %>
   <p><%= f.label :mensagem_evento, "New Evento" %><br />
      <%= f.text_area :mensagem_evento %>
   </p>
   <p><%= f.submit "Add Evento" %></p>
<% end %>


<!--
  fim do código inserido.
-->








<%= link_to 'Edit', edit_dispositivo_path(@dispositivo) %> |
<%= link_to 'Back', dispositivos_path %>
